{{!< layout}}
<div class="aui-group">
<script>

// var bookmarkData = data.child('blinding-heat-1117');

    $(document).ready(function () {
        // AP.register({
        //     "ad-bookmarks-message.action.nonlink": function (message) {
        //         console.log(message);
        //     }
        // });  
    
    });
</script>
    <div class="aui-item">
        <dl>
            <dt>Group ID</dt>
            <dd>{{identity.message}}</dd>
            <dt>Room ID</dt>
            <dd>{{identity.roomId}}</dd>
            <dt>User ID</dt>
            <dd>{{identity.userId}}</dd>
            <dt>Hello there</dt>
        </dl>
    </div>
</div>